@font-face {
	font-family: "FuturaDemiC";
	src: url('../fonts/futurademic.otf');
}

@font-face {
	font-family: "FuturaC";
	src: url('../fonts/futurabookc.otf');
}

body {
	height: 100%;
	font-family: "FuturaDemiC";
	color: #fff;
}

.container-fluid {
	max-width: 1440px;
	padding: 0;
}

.header {
	padding: 25px 0;
	position: relative;
	background-color: #fff;
	z-index: 5;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: 100px;
	width: 208px;
	height: 50px;
	background: url("../img/logo.png");
}

.main .container-fluid {
	max-width: 1440px;
	padding-top: 20px;
	padding-left: 65px;
}

.main__content {
	/*height: calc(100vh - 100px);*/
	height: 100%;
}

/*.main__content.page1 {
	background: url("../img/people-16-44055-01.jpg") center top no-repeat;
	background-size: 100% auto;
}

.main__content.page2 {
	background: url("../img/people-16-44055-02.jpg") center top no-repeat;

}

.main__content.page3 {
	background: url("../img/people-16-44055-03.jpg") center top no-repeat;
	background-size: 100% auto;
}

.main__content.page4 {
	background: url("../img/people-16-44055-04.jpg") center top no-repeat;
	background-size: 100% auto;
}

.main__content.page5 {
	background: url("../img/people-16-44055-05.jpg") center top no-repeat;
	background-size: 100% auto;
}

.main__content.page6 {
	background: url("../img/people-16-44055-06.jpg") center top no-repeat;
	background-size: 100% auto;
}

.main__content.page7 {
	background: url("../img/people-16-44055-07.jpg") center top no-repeat;
	background-size: 100% auto;
}
*/
.main__content_left {
	margin-right: 11px;
	max-width: 621px;
	display: inline-block;
}

.main__content.page5 .main__content_left {
	max-width: 755px;
}

.main__content.page6 .main__content_left,
.main__content.page7 .main__content_left {
	max-width: none;
	width: 960px;
}

.main__img {
	margin-top: 130px;
	display: inline-block;
	width: 48.8%;
	vertical-align: top;
}

.main__img img {
	width: 100%;
}

.main__content_head {
	margin-bottom: 20px;
	position: relative;
	/*width: 620.6px;*/
	height: 208px;
}

.main__content.page3 .main__content_head,
.main__content.page4 .main__content_head {
	margin-bottom: 25px;
}

.main__content.page5 .main__content_head {
	margin-bottom: 48px;
}

.main__content.page6 .main__content_head {
	margin-bottom: 52px;
}

.main__content.page7 .main__content_head {
	margin-bottom: 22px;
}

.workarea h1 {
	margin: 0;
	font-size: 54px;
	line-height: 1.22;
	letter-spacing: 0.7px;
	color: #ffffff;
	position: absolute;
	bottom: 0;
}

.main__content_text {
	margin-bottom: 40px;
}

.main__content.page2 .main__content_text,
.main__content.page3 .main__content_text,
.main__content.page4 .main__content_text,
.main__content.page7 .main__content_text {
	margin-bottom: 45px;
}

.content__text_item {
	margin-bottom: 18px;
	/*max-width: 625px;*/
	padding-left: 165px;
	position: relative;
	font-size: 24px;
	line-height: 1.25;
}

.content__text_item a.text__item_link {
	display: block;
	margin-top: 8px;
	text-decoration: underline;
	color: #fff;
}

.content__text_item a.download__link {
	text-decoration: underline;
	color: #fff;
}

.main__content.page2 .content__text_item {
	margin-bottom: 38px;
}

.main__content.page5 .content__text_item  {
	margin-bottom: 42px;
}

.main__content.page7 .content__text_item  {
	max-width: 660px;
	padding-left: 105px;
	margin-bottom: 33px;
}

.content__text_item:before {
	content: "";
	width: 145px;
	height: 4px;
	position: absolute;
	left: 0;
	top: 14px;
	background-color: #00917e;
}

.main__content.page7 .content__text_item:before {
	width: 70px;
}

.main__content_info {
	margin-bottom: 27px;
	/*max-width: 625px;*/
	font-family: "FuturaC";
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
	color: #ffffff;
}

.main__content_text li {
	list-style-type: none;
	position: relative;
}

.main__content_text ol {
	margin-bottom: 0;
	padding: 0;
	counter-reset: list 0;
}

.main__content_text ol li:before {
	counter-increment: list;
	content: counter(list) ". ";
	position: absolute;
	left: 80px;
	top: 0;
	font-size: 24px;
	line-height: 1.25;
}

.main__content_btns {
	margin-bottom: 19px;
}

a.download__btn {
	margin-right: 27px;
	padding: 12px 0 13px;
	display: inline-block;
	width: 270px;
	background-color: #ffffff;
	text-decoration: none;
	font-size: 24px;
	color: #069078;
	-webkit-text-stroke: 1px #979797;
	text-align: center;
	line-height: 1.25;
}

.main__content_socials {
	display: inline-block;
	vertical-align: middle;
}

.socials__btn {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-right: 7.6px;
}

.socials__btn.fb {
	background: url("../img/facebook-1.svg") no-repeat;
}

.socials__btn.vk {
	background: url("../img/icon-1.svg") no-repeat;
}

.socials__btn.instagram {
	background: url("../img/instagram-logo.svg") no-repeat;
}

.socials__btn.youtube {
	width: 47.8px;
	background: url("../img/youtube-play-button.svg") no-repeat;
}

.main__content_note {
	font-size: 14px;
	line-height: 1.14;
}

.main__content_left textarea,
.main__content_left input,
.main__content_left button {
	display: block;
	font-size: 24px;
	color: #000;
}

.main__content_left textarea {
	padding: 13px 20px;
	width: 610px;
	height: 178px;
	margin-bottom: 20px;
	border: solid 1px #2c2c2c;
	resize: none;
	font-family: "FuturaC";
}

.main__content_left input {
	margin-bottom: 50px;
	padding: 14px 20px;
	width: 610px;
	border: solid 1px #2c2c2c;
	font-family: "FuturaC";
}

.main__content_left button {
	display: inline-block;
	padding: 12px 0 13px;
	width: 270px;
	background-color: #00917e;
	color: #fff;
	text-align: center;
	line-height: 1.25;
	border: none;
}

.main__content_left input::placeholder,
.main__content_left textarea::placeholder {
	color: #000;
}

.main__content_left input::-webkit-input-placeholder,
.main__content_left textarea::-webkit-input-placeholder {
	color: #000;
}

.main__content_left input::-moz-placeholder,
.main__content_left textarea::-moz-placeholder {
	color: #000;
}

.main__content_left input:-moz-placeholder,
.main__content_left textarea:-moz-placeholder {
	color: #000;
}

.main__content_left input:-ms-input-placeholder,
.main__content_left textarea:-ms-input-placeholder {
	color: #000;
}

#fp-nav.right {
	right: 36px;
}

#fp-nav ul li, .fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 14px;
	margin: 15px 7px 16px;
	position: relative;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	width: 14px;
	height: 14px;
	opacity: 0.6;
	border: solid 1px #ffffff;
	background: transparent;
	margin: -7px 0 0 -7px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 14px;
	width: 14px;
	margin: -7px 0 0 -7px;
	border-radius: 100%;
	background-color: #ffffff;
	border: solid 1px #ffffff;
	opacity: 1;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	width: 14px;
	height: 14px;
	margin: -7px 0px 0px -7px;
	background-color: #ffffff;
	border: solid 1px #ffffff;
	opacity: 1;
}

@media screen and (max-width: 1370px) {

	.logo {
		margin-right: 46px;
		width: 167px;
		height: 40px;
		background-size: 100% 100%;
	}

	.main .container-fluid {
		padding-top: 40px;
	}

	.main__content {
		background-size: 100% 100% !important;
	}

	.main__content_left {
		margin-right: 11px;
		display: inline-block;
	}

	.main__content_head {
		max-width: 472px;
		margin-bottom: 16px;
		height: 107px;
	}

	.main__content.page5 .main__content_head,
	.main__content.page6 .main__content_head,
	.main__content.page7 .main__content_head {
		height: 168px;
		margin-bottom: 27px;
	}

	.main__content.page3 .main__content_head,
	.main__content.page4 .main__content_head {
		margin-bottom: 18px;
	}

	.workarea h1 {
		font-size: 44px;
		line-height: 1.27;
	}

	.main__content_text {
		max-width: 469px;
	}

	.content__text_item {
		margin-bottom: 17px;
		padding-left: 95px;
		font-size: 20px;
		line-height: 1.2;
	}

	.main__content.page2 .content__text_item {
		margin-bottom: 22px;
	}

	.main__content.page5 .content__text_item {
		margin-bottom: 33px;
	}

	.main__content.page7 .content__text_item {
		padding-left: 116px;
		margin-bottom: 28px;
	}

	.content__text_item:before,
	.main__content.page7 .content__text_item:before {
		width: 75px;
		top: 11px;
	}

	.main__content.page2 .main__content_text {
		margin-bottom: 40px;
	}

	.main__content.page3 .main__content_text,
	.main__content.page4 .main__content_text {
		margin-bottom: 37px;
	}

	.main__content.page5 .main__content_text {
		max-width: 557px;
	}

	.main__content.page7 .main__content_text,
	.main__content.page7 .main__content_text li:last-child .content__text_item {
		margin-bottom: 24px;
	}

	.main__content_info {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 1.22;
	}

	.main__content.page3 .main__content_info,
	.main__content.page4 .main__content_info {
		margin-bottom: 22px;
	}

	.content__text_item a.text__item_link {
		margin-top: 3px;
	}

	.main__content_left textarea {
		padding: 10px 18px;
		width: 100%;
		height: 138px;
		font-size: 18px;
	}

	.main__content_left input {
		margin-bottom: 30px;
		padding: 8px 18px;
		width: 100%;
		font-size: 18px;
	}

	.main__content_left button {
		padding: 8px 0;
		width: 230px;
		font-size: 22px;
		line-height: 1.36;
	}

	.main__content_text ol li:before {
		left: 95px;
		font-size: 20px;
		line-height: 1.2;
	}

	.main__content_btns {
		margin-bottom: 15px;
	}

	a.download__btn {
		margin-right: 56px;
		width: 230px;
		padding: 9px 0 7px;
		font-size: 22px;
		line-height: 1.36;
	}

	.main__img {
		margin-top: 22px;
	}
}

@media screen and (max-width: 1030px) {

	.main .container-fluid {
		padding-top: 80px;
		padding-left: 50px;
	}

	.main .main__content.page5 .container-fluid,
	.main .main__content.page6 .container-fluid,
	.main .main__content.page7 .container-fluid {
		padding-top: 74px;
	}

	.main__content.page6 .main__content_left,
	.main__content.page7 .main__content_left {
		width: 472px;
	}

	.main__img {
		margin-top: 0;
		width: 100%;
		position: absolute;
		top: 107px;
		right: -14px;
		padding-left: 493px;
	}

	#fp-nav.right {
		right: 17px;
	}
}

@media screen and (max-width: 950px) {
	#fp-nav.right {
		right: 0;
	}
}

@media screen and (max-width: 800px) {

	.main__content {
		background-size: auto auto !important;
	}

	.main__content .container-fluid {
		padding-left: 0;
	}

	.main .main__content.page1 .container-fluid {
		padding-bottom: 95px;
	}

	.main .main__content.page2 .container-fluid {
		padding-bottom: 209px;
	}

	.main .main__content.page3 .container-fluid {
		padding-bottom: 243px;
	}

	.main .main__content.page4 .container-fluid {
		padding-bottom: 171px;
	}

	.main .main__content.page5 .container-fluid {
		padding-bottom: 78px;
	}

	.main .main__content.page6 .container-fluid {
		padding-bottom: 93px;
	}

	.main .main__content.page7 .container-fluid {
		padding-bottom: 143px;
	}

	.main__content_left,
	.main__content.page5 .main__content_left {
		margin: 0 auto;
		display: block;
		max-width: 472px;
	}

	.main__img {
		display: none;
	}

	a.download__btn {
		margin-right: 48px;
	}

}

@media screen and (max-width: 520px) {

	.header {
		padding: 10px 0;
	}

	.logo {
		margin-right: 10.2px;
		width: 103.8px;
		height: 25px;
	}

	.main .container-fluid,
	.main .main__content.page5 .container-fluid,
	.main .main__content.page6 .container-fluid,
	.main .main__content.page7 .container-fluid {
		padding-top: 33px;
	}

	.main .main__content.page1 .container-fluid {
		padding-bottom: 43px;
	}

	.main .main__content.page2 .container-fluid {
		padding-bottom: 179px;
	}

	.main .main__content.page3 .container-fluid {
		padding-bottom: 227px;
	}

	.main .main__content.page4 .container-fluid {
		padding-bottom: 163px;
	}

	.main .main__content.page5 .container-fluid {
		padding-bottom: 79px;
	}

	.main .main__content.page6 .container-fluid {
		padding-bottom: 10px;
	}

	.main .main__content.page7 .container-fluid {
		padding-bottom: 27px;
	}

	.main__content_left,
	.main__content.page5 .main__content_left,
	.main__content.page6 .main__content_left,
	.main__content.page7 .main__content_left {
		max-width: 300px;
	}

	.main__content_head {
		max-width: 300px;
		margin-bottom: 21px;
		height: auto;
	}

	.main__content.page2 .main__content_head {
		margin-bottom: 16px;
	}

	.main__content.page3 .main__content_head,
	.main__content.page4 .main__content_head {
		margin-bottom: 22px;
	}

	.main__content.page5 .main__content_head {
		height: auto;
		margin-bottom: 20px;
	}


	.main__content.page6 .main__content_head {
		max-width: 250px;
		height: auto;
		margin-bottom: 16px;
	}

	.main__content.page7 .main__content_head {
		max-width: 235px;
		height: auto;
		margin-bottom: 21px;
	}

	.workarea h1 {
		position: static;
		font-size: 30px;
		line-height: 1.07;
		letter-spacing: 0.6px;
	}

	.main__content_text {
		margin-bottom: 20px;
	}

	.content__text_item {
		margin-bottom: 13px;
		padding-left: 40px;
		font-size: 16px;
		line-height: 1.31;
	}

	.main__content.page2 .content__text_item {
		margin-bottom: 18px;
	}

	.main__content.page5 .content__text_item {
		margin-bottom: 23px;
	}

	.main__content.page7 .content__text_item {
		padding-left: 56px;
		margin-bottom: 22px;
	}

	.main__content_info {
		font-size: 14px;
		line-height: 1.14;
	}

	.main__content.page3 .main__content_info,
	.main__content.page4 .main__content_info {
		margin-bottom: 19px;
	}

	.main__content.page4 .main__content_text {
		margin-bottom: 41px;
	}

	.main__content.page7 .main__content_text {
		margin-bottom: 40px;
	}

	.content__text_item:before,
	.main__content.page7 .content__text_item:before {
		width: 35px;
		top: 7px;
	}

	.content__text_item a.text__item_link {
		margin-top: 2px;
	}

	a.download__btn {
		width: 100%;
		padding: 9px 0 10px;
		margin-right: 0;
		font-size: 16px;
		line-height: 1.67;
	}

	.main__content_btns {
		margin-bottom: 8px;
		position: relative;
	}

	.main__content_socials {
		width: 100%;/*1*/
		position: absolute;
		top: 86px;
		left: 0;
	}

	.main__content_socials .socials__btn {
		width: 24px;
		height: 24px;
		background-size: 100% 100%;
		margin-right: 3.8px;
	}

	.main__content_socials .socials__btn.youtube {
		width: 34px;
	}

	.main__content_note {
		font-size: 12px;
		line-height: 1.14;
	}

	.main__content_left textarea {
		margin-bottom: 10px;
		padding: 11px 14px;
		height: 164px;
		font-size: 16px;
	}

	.main__content_left input {
		margin-bottom: 20px;
		padding: 10px 15px;
		font-size: 16px;
	}

	.main__content_left button {
		width: 100%;
		font-size: 16px;
		line-height: 1.88;
	}

	.main__content_text ol li:before {
		left: 40px;
		font-size: 16px;
		line-height: 1.31;
	}

}